#main
	h1.
		<span class="bigger">Kodapor</span><br />Stockholm
	p En löst sammansatt grupp av människor som kodar kod i och kring Stockholm.
	a#join(href="https://www.facebook.com/groups/utvecklare.stockholm/") gå med säger jag